---
import Layout from "../layouts/main.astro";
import PageHeading from "../components/page-heading.astro";
---

<Layout title="Base Page">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="Your Page Title"
      description="This is a placeholder. Add your content here."
    />

    <!-- Space for content -->
    <div class="min-h-[500px] flex items-center justify-center">
      <p class="text-center text-gray-600">Your content goes here.</p>
    </div>
  </section>
</Layout>