---
import Layout from "../layouts/main.astro";
import PageHeading from "../components/page-heading.astro";

const usesData = {
  workstation: [
    { name: "MacBook Pro 14\"", details: "M3 Pro 2023, 36GB Memory, 1TB SSD", description: "This MacBook is one of the best investments that I have. I bought the space black version, which looks really good." },
    { name: "LG UltraFine™ 4K", details: "32 Inch LG (32UN880-B)", description: "This monitor came with a solid ergonomic arm." },
    { name: "Logitech MX Master 3S", description: "I thought this was overpriced, but I enjoy using it. The shortcut mapping is really good and boosts my productivity." },
    { name: "Creative Pebble V3", description: "I don't like speakers that have too much bass, especially when you have a meeting. This one has a clear sound and good enough bass." },
    { name: "Keychron K2v2", details: "White Backlight, Brown Switch" }
  ],
  furniture: [
    { name: "Stramm Bruno Standing Desk", details: "160cm x 80cm", description: "Having a wide desk is one of the greatest choices I have made." },
    { name: "Press Play Desk Shelf", description: "This desk shelf is the small wooden desk that's on top of my standing desk. It's great because it covers the cables and makes things look tidier." },
    { name: "Pexio Jervis Ergonomic Chair", description: "I bought this chair with my first internship paycheck 😃" }
  ],
  accessories: [
    { name: "Mi Computer Monitor Light Bar", description: "A must-have, it will lighten up your desk." },
    { name: "AirPods Pro (2nd Generation)", description: "Great for working at a cafe." },
    { name: "Anker MagGo Wireless Charging Station", description: "Simple and effective charger that can charge my phone, AirPods, and Apple Watch all at once." }
  ],
  applications: [
    { name: "Arc", details: "Daily Browser" },
    { name: "Firefox Developer Edition", details: "Coding Browser", description: "I use a different browser when coding. Firefox has a stricter CSS rules, which is great so I can catch more bugs earlier." },
    { name: "Cursor", details: "Code Editor" },
    { name: "Warp", details: "Terminal", description: "Previously I used iTerm2 with Fig. Since Fig has been bought now, I switched to Warp for the autocomplete feature." },
    { name: "Raycast", details: "Spotlight Alternative", description: "This is a must-have. I also use Raycast for AI Chat." }
  ],
  subscriptions: [
    { name: "Raycast Pro with Advanced AI", description: "Raycast boosts my productivity by a huge margin. I want to support the developers by subscribing to the Pro version. Also, their AI client is pretty nice since I can mix models." },
    { name: "CleanShot X", description: "Good for adding arrows when pointing bugs. I even gave this to some of my friends as a birthday gift 😄." },
    { name: "Screen Studio", description: "I use this for making beautiful demos for my content." },
    { name: "Google One", details: "200GB Storage", description: "For files and photos. I don't like iCloud for backing up photos because they are not cross-platform friendly." },
    { name: "iCloud+", details: "50GB Storage", description: "For saving phone backups, messages, and other data." }
  ]
};
---

<Layout title="My Daily Uses">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="My Daily Uses"
      description="A peek into my workspace and the tools I use every day to build, design, and create."
    />

    <div class="mt-16 space-y-16">
      {Object.entries(usesData).map(([category, items]) => (
        <div>
          <h2 class="text-2xl font-bold dark:text-neutral-100 border-b border-neutral-700/60 pb-2 mb-8 capitalize">
            {category}
          </h2>
          <ul class="space-y-8">
            {items.map(item => (
              <li>
                <h3 class="font-semibold text-lg text-neutral-100">{item.name}</h3>
                {item.details && <p class="text-sm text-neutral-500 -mt-1">{item.details}</p>}
                {item.description && <p class="mt-2 text-neutral-400 max-w-prose">{item.description}</p>}
              </li>
            ))}
          </ul>
        </div>
      ))}
    </div>
  </section>
</Layout>