---
import Layout from "../layouts/main.astro";
import PageHeading from "../components/page-heading.astro";

const usesData = {
  workstation: [
    { name: "MacBook Air 20", details: "M1 Air 2020, 16GB Memory, 256GB SSD", description: "This MacBook is one of the best investments I've ever made. I bought the space gray version, and it's been more than enough to meet my coding requirements." },
    { name: "Raspberry Pi 5", details: "Full Kit, 16GB Memory, 64GB SD", description: "I got the Pi with a friend for my Final Year Project, but it's been very handy in helping us learn about Automation, Self-Hosting, and a lot more!" },
    { name: "Xiaomi Redmi A27Q", details: "27 Inch, QHD 2K", description: "Probably my favourite purchase ever, the size, the colors, everything is perfect." },
    { name: "Logitech Pebble Mouse", details: "White", description: "This was a gift from my lovely girlfriend, so it's one of my most prized possessions. I love the minimal, sleek design, and how lightweight it is (Do not scream at me about ergonomics)." },
    { name: "Fenda F&D F580X", details: "2 Tweeters, 1 Sub Woofer", description: "I like speakers with good bass, and this one comes with a separate Sub Woofer. It's held up well, for over 7 years now." },
    { name: "Royal Kludge RK71", details: "RGB Backlight, Brown Switches", description: "Also a gift from my beautiful girlfriend! It's my first mechanical keyboard, and I've been loving it a lot. I am yet to customize the full thing." }
  ],
  accessories: [
    { name: "Bostitch Office Lamp", description: "A must-have, provides adequate backlighting for my Monitor." },
    { name: "AirPods Pro (2nd Generation)", description: "Can't really work outside without Lofi Jazz, or Yeat (no in between)." },
    { name: "Hoco W35 Max", details: "I made the stickers myself.", description: "I mostly use these for listening to Podcasts or watching stuff on Youtube, as they're not really heave on the Bass." },
    { name: "Scented Candle", details: "Miniso (Vanilla Spice)", description: "Sometimes when I really need to wind down, nothing beats getting on a call with my grilfriend, getting each other food, lighting up these candles, and binge watching stuff together." }
  ],
  figures: [
    { name: "Kuromi Plushie", details: "Light Colorway", description: "My girlfriend won this for me at a claw machine game!" },
    { name: "Roronoa Zoro", description: "I got this action figure as a gift from all my friends on my 24th." },
    { name: "Portgas D. Ace", description: "First action figure I ever got, a gift from my girlfriend too!" }
  ],
  applications: [
    { name: "Arc", details: "Daily Browser", description: "My daily driver, coding browser, all in one. Arc's UX is simply unbeatable. Pity they moved on to Dia, but I'll be sticking to this browser till Zen catches up." },
    { name: "VSCode", details: "Code Editor", description: "I don't like Cursor. Copilot is free and open source, and I have local models running. I started coding on this Editor, and haven't switched since."  },
    { name: "iTerm2", details: "Terminal", description: "Classic, easy, smooth. I tried Ghostty, but ran into a lot of issues when SSH-ing into other machines, so I haven't been tempted to switch." },
    { name: "Raycast", details: "Spotlight Alternative", description: "This is a must-have. The only software missing on Macs by default. I also use Raycast for AI Chat." }
  ],
  subscriptions: [
    { name: "ChatGPT Plus", description: "The only AI toolset worth paying for. OpenAI's overall AI system and sheer number of tools make it a no-brainer for my daily use. I don't use it for coding though." },
    { name: "Nothing else, really.", description: "I self host all my media and use open source tools. I like the freedom it gives me." }
  ]
};
---

<Layout title="My Daily Uses">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="My Daily Uses"
      description="A peek into my workspace and the tools I use every day to build, design, and create."
    />

    <div class="mt-16 space-y-16">
      {Object.entries(usesData).map(([category, items]) => (
        <div>
          <h2 class="text-2xl font-bold dark:text-neutral-100 border-b border-neutral-700/60 pb-2 mb-8 capitalize">
            {category}
          </h2>
          <ul class="space-y-8">
            {items.map(item => (
              <li>
                <h3 class="font-semibold text-lg text-neutral-100">{item.name}</h3>
                {item.details && <p class="text-sm text-neutral-500 -mt-1">{item.details}</p>}
                {item.description && <p class="mt-2 text-neutral-400 max-w-prose">{item.description}</p>}
              </li>
            ))}
          </ul>
        </div>
      ))}
    </div>
  </section>
</Layout>