---
import PostsLoop from "../posts-loop.astro";
import RajinTalksALot from "../rajintalksalot.astro";
---

<section class="max-w-4xl mx-auto px-7 lg:px-0">
  <h2
    class="text-2xl font-bold leading-10 tracking-tight text-neutral-900 dark:text-neutral-100"
  >
    Blogs (I have two)
  </h2>
  <p class="mb-6 text-base text-neutral-600 dark:text-neutral-400">
    Tech, and creative stuff. Pick your poison.
  </p>

  <div class="w-full max-w-4xl mx-auto my-7 xl:px-0">
    <div class="grid grid-cols-1 gap-10 md:grid-cols-2 md:items-center md:gap-7">
      <div class="w-full space-y-7">
        <PostsLoop count="3" />
      </div>
      <div class="w-full md:self-center">
        <RajinTalksALot />
      </div>
    </div>
  </div>
</section>
