---
 // tech-stack.astro
---

<section class="tech-stack py-6 px-7 w-full max-w-4xl mx-auto">
    <div class="flex flex-wrap justify-center gap-6">
      <!-- Languages -->
      <div class="tech-item" title="C">
        <span class="tooltip">C</span>
        <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/c/c-original.svg" alt="C" />
      </div>
      <div class="tech-item" title="C++">
        <span class="tooltip">C++</span>
        <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/cplusplus/cplusplus-original.svg" alt="C++" />
      </div>
      <div class="tech-item" title="Java">
        <span class="tooltip">Java</span>
        <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/java/java-original.svg" alt="Java" />
      </div>
      <div class="tech-item" title="Python">
        <span class="tooltip">Python</span>
        <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg" alt="Python" />
      </div>
      <div class="tech-item" title="Dart">
        <span class="tooltip">Dart</span>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a2/Dart_programming_language_logo_icon.svg/2048px-Dart_programming_language_logo_icon.svg.png" alt="Dart" />
      </div>
      <div class="tech-item" title="HTML">
        <span class="tooltip">HTML</span>
        <img src="https://cdn.pixabay.com/photo/2017/08/05/11/16/logo-2582748_1280.png" alt="HTML" />
      </div>
      <div class="tech-item" title="CSS">
        <span class="tooltip">CSS</span>
        <img src="https://cdn.pixabay.com/photo/2017/08/05/11/16/logo-2582747_1280.png" alt="CSS" />
      </div>
      <div class="tech-item" title="SQL">
        <span class="tooltip">SQL</span>
        <img src="https://i.imgur.com/40pR413.png" alt="SQL" />
      </div>
      <div class="tech-item" title="MySQL">
        <span class="tooltip">MySQL</span>
        <img src="https://upload.wikimedia.org/wikipedia/labs/8/8e/Mysql_logo.png" alt="MySQL" />
      </div>
      
      <div class="tech-item" title="Astro">
        <span class="tooltip">Astro</span>
        <img src="https://astro.build/assets/press/astro-icon-light-gradient.svg" alt="Astro" />
      </div>
      <div class="tech-item" title="Flutter">
        <span class="tooltip">Flutter</span>
        <img src="https://avatars.githubusercontent.com/u/14101776?s=280&v=4" alt="Flutter" />
      </div>
      <div class="tech-item" title="NumPy">
        <span class="tooltip">NumPy</span>
        <img src="https://i.pinimg.com/originals/b1/e8/44/b1e8445e6096877bf32af7cae6aba731.png" alt="NumPy" />
      </div>
      <div class="tech-item" title="Pandas">
        <span class="tooltip">Pandas</span>
        <img src="https://pandas.pydata.org/static/img/pandas_mark_white.svg" alt="Pandas" />
      </div>
      <div class="tech-item" title="Matplotlib">
        <span class="tooltip">Matplotlib</span>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/Matplotlib_icon.svg/1024px-Matplotlib_icon.svg.png" alt="Matplotlib" />
      </div>
      <div class="tech-item" title="Jupyter">
        <span class="tooltip">Jupyter</span>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/38/Jupyter_logo.svg/1200px-Jupyter_logo.svg.png" alt="Jupyter" />
      </div>
      <div class="tech-item" title="Git">
        <span class="tooltip">Git</span>
        <img src="https://www.vectorlogo.zone/logos/git-scm/git-scm-icon.svg" alt="Git" />
      </div>
    </div>
  </section>
  
  <style>
    
    .tech-stack {
      margin-bottom: 0;
    }
  
    .tech-item {
      @apply w-16 h-16 flex items-center justify-center transition-all duration-300 relative;
    }
  
    .tech-item img {
      @apply w-12 h-12 object-contain opacity-90 hover:opacity-100 transition-all duration-300;
    }
  
    .tech-item:hover {
      transform: scale(1.15);
      filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
    }

    .tech-item:hover img {
      filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.25));
    }
  
    /* Tooltip */
    .tooltip {
      @apply absolute text-sm font-medium text-white bg-black/80 dark:bg-white/90 dark:text-black px-3 py-1 rounded-lg opacity-0 transition-all duration-300 pointer-events-none;
      bottom: 120%;
      left: 50%;
      transform: translateX(-50%);
      white-space: nowrap;
    }
  
    .tech-item:hover .tooltip {
      opacity: 1;
      transform: translateX(-50%) translateY(-5px);
    }
  </style>