---
import Layout from "./main.astro";

const { title, description } = Astro.props;
---

<Layout title={title} description={description}>
  <main class="relative z-30 max-w-4xl mx-auto mt-10 bg-white dark:bg-neutral-950 md:rounded-md text-neutral-900">
    <div class="w-full max-w-2xl mx-auto text-3xl font-bold leading-tight tracking-tighter text-center md:mb-12 md:text-4xl dark:text-neutral-100 lg:text-5xl md:text-center">
      {title}
    </div>
    <article class="w-full max-w-2xl mx-auto mb-20 prose-sm prose px-7 lg:px-0 lg:prose-lg dark:prose-invert">
      <slot />
    </article>
  </main>
</Layout>